* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* thẻ nav */
nav {
  background-color: #f3f4f6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 20px;
  padding-left: 100px;
}
/* các thẻ ở nav */
nav a {
  text-decoration: none;
}
/* khi hover vào thẻ a */
nav a:hover {
  color: #3b82f6 !important;
}
/* thẻ p ở thẻ footer */
p {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
/* nút add category */
#btn-add-cate {
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 0px 15px;
  background-color: #22c55e;
  color: white;
}
#btn-add-cate:hover {
  background-color: #16a34a;
}
/* nút input */
#search {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f3f4f6;
  padding: 10px;
  padding-left: 15px;
}
/* khi bấm vào nút input */
#search:focus {
  border-color: #3b82f6;
  outline: none;
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
}
/* bảng table */
#table-category {
  /* width: 100%; */
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
/* th và td trong table */
#table-category th,
#table-category td {
  padding: 12px;
}
/* thẻ th đậm hơn */
#table-category th {
  background-color: #f3f4f6;
  font-weight: bold;
}
/* edit */
.blue-link {
  color: blue;
  text-decoration: none;
}
/* delete */
.red-link {
  color: red;
  text-decoration: none;
  margin-left: 10px;
}
/* phân trang */
ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
li {
  border: 1px solid #ddd;
  width: 50px;
  height: 30px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  border-radius: 5px;
}
